body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
 

}

header {
  margin-top: 3em;
  text-align: center;
  color: black;
}

header h1 {
  font-size: 2em;
  font-weight: 900;
}

#my-name {
    font-size: 2em;
    font-weight: 900;
    position: absolute;
    bottom: 5em;
    left: 3em;
}

#container3D canvas {
  width: 100vw !important;
  height: 90vh !important;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1;
   background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(229,208,191,1) 60%);
}